@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}


.nav{
    background: #0a0a0a;
}
.card-uploader {
    background: #1e1e1e;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    transition: transform .2s;
}

.card-uploader:hover {
    transform: translateY(-4px);
}

#drag-drop-area {
    width: 100%;
    min-height: 250px;
}

.uppy-Dashboard {
    width: 100% !important;
    height: auto !important;
    --uppy-dashboard-min-width: 0;
    display: flex;
    align-content: center;
    justify-content: center;
}

.uppy-Dashboard-modal,
.uppy-Dashboard-inner {
    border: none !important;
    box-shadow: none !important;
}


.form-section {
    background: #1e1e1e;
    border-radius: .75rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
